Repository CHOMPStation2/CHOMPStation2, pull requests merged in 2020-11, with the labels that each got.

#801 Port Feeder from Old Chomp
  code/game/machinery/feeder.dm
  code/modules/materials/material_recipes.dm
  code/modules/reagents/reagent_containers/glass.dm
  icons/obj/machines/feeder.dmi
  vorestation.dme
Labels: CHOMPStation Content

#415 Cinnamon stuff!
  code/modules/food/food/snacks_ch.dm
  code/modules/food/recipes_microwave_ch.dm
  code/modules/food/recipes_oven_ch.dm
  code/modules/hydroponics/seed_datums_ch.dm
  code/modules/hydroponics/seed_packets_ch.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks_ch.dm
  icons/obj/food_ch.dmi
  vorestation.dme
Labels: Help Wanted, WIP

#854 POI balances and SC update.
  maps/southern_cross/southern_cross-1.dmm
  maps/southern_cross/southern_cross-2.dmm
  maps/southern_cross/southern_cross-3.dmm
  maps/southern_cross/submaps/gateway/snowfield.dmm
  maps/submaps/surface_submaps/plains/lonehome.dmm
  maps/submaps/surface_submaps/wilderness/chasm.dmm
  maps/submaps/surface_submaps/wilderness/deathden.dmm
  maps/submaps/surface_submaps/wilderness/demonpool.dmm
Labels: Map Edit

#860 Unfuck security access
  code/game/jobs/job/security_vr.dm
  maps/southern_cross/southern_cross-2.dmm
Labels: Map Edit

#856 Prevent spiders and grubs from spawning in dorms and docks
  code/modules/events/grubinfestation_vr.dm
  code/modules/events/spider_infestation.dm
Labels: Approved

#884 Civilian sector overhaul.
  code/game/objects/effects/landmarks.dm
  code/global_ch.dm
  code/modules/client/preferences_spawnpoints_ch.dm
  icons/obj/items.dmi
  maps/southern_cross/southern_cross-2.dmm
  maps/southern_cross/southern_cross-3.dmm
  maps/southern_cross/southern_cross-8.dmm
  maps/southern_cross/southern_cross_areas.dm
  maps/southern_cross/southern_cross_defines.dm
Labels: Map Edit

#905 Minor Map Updates
  maps/southern_cross/southern_cross-1.dmm
  maps/southern_cross/southern_cross-2.dmm
  maps/southern_cross/southern_cross-3.dmm
Labels: Map Edit

#914 Remove shit opinion
  code/modules/vore/eating/simple_animal_vr.dm
Labels: CHOMPStation Content
