Repository CHOMPStation2/CHOMPStation2, pull requests merged in 2020-05, with the labels that each got.

#328 No more solargrubs in docks
  code/game/area/Space Station 13 areas_ch.dm
  code/modules/events/grubinfestation_vr.dm
  maps/southern_cross/southern_cross_areas.dm
Labels: DO NOT MERGE

#341 Recoil knockdown for micros
  code/modules/projectiles/gun.dm
Labels: CHOMPStation Content

#342 New Mech Weapon Sound Effects and UAC/2 ammo
  code/game/mecha/equipment/weapons/ballistic/automatic.dm
  code/game/mecha/equipment/weapons/ballistic/shotgun.dm
  code/game/mecha/equipment/weapons/energy/ion.dm
  code/game/mecha/equipment/weapons/energy/laser.dm
  code/game/mecha/equipment/weapons/explosive/missile.dm
  sound/weapons/Flamer.ogg
  sound/weapons/IonCannon.ogg
  sound/weapons/LBX10.ogg
  sound/weapons/LargeLaser.ogg
  sound/weapons/MediumLaser.ogg
  sound/weapons/SRM.ogg
  sound/weapons/UAC2.ogg
Labels: CHOMPStation Content

#324 [Map] Minifix Palooza - Deck 1
  maps/southern_cross/southern_cross-1.dmm
  maps/southern_cross/southern_cross_areas.dm
Labels: Map Edit

#326 [Map] Minifix Palooza - Carrier
  maps/southern_cross/southern_cross-7.dmm
Labels: Map Edit

#337 [Map] Minifix Palooza - Main Outpost
  maps/southern_cross/southern_cross-5.dmm
Labels: Map Edit

#339 [Map] Minifix Palooza - Xenoarch Outpost
  maps/southern_cross/southern_cross-6.dmm
Labels: Map Edit

#338 [Map] Minifix Palooza - Deck 3
  maps/southern_cross/southern_cross-3.dmm
Labels: Map Edit

#356 Fix old chat
  code/stylesheet.dm
  interface/skin.dmf
Labels: DO NOT MERGE

#360 Nanomeds, hangar bench
  maps/southern_cross/southern_cross-1.dmm
  maps/southern_cross/southern_cross-2.dmm
  maps/southern_cross/southern_cross-5.dmm
Labels: Map Edit
