Repository CHOMPStation2/CHOMPStation2, pull requests merged in 2020-02, with the labels that each got.

#213 Gateway Missions
  maps/southern_cross/southern_cross-5.dmm
  maps/southern_cross/southern_cross_areas.dm
  maps/southern_cross/southern_cross_defines.dm
  maps/southern_cross/submaps/_southern_cross_submaps.dm
  maps/southern_cross/submaps/gateway/carpfarm.dm
  maps/southern_cross/submaps/gateway/carpfarm.dmm
  maps/southern_cross/submaps/gateway/snowfield.dm
  maps/southern_cross/submaps/gateway/snowfield.dmm
Labels: Map Edit

#230 QoL map fixes
  maps/southern_cross/southern_cross-1.dmm
Labels: Approved

#224 New uniform, rolled states, fixed star trek uniforms
  code/modules/client/preference_setup/loadout/loadout_uniform_ch.dm
  code/modules/client/preference_setup/loadout/loadout_uniform_vr.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/vore/fluffstuff/custom_clothes_ch.dm
  code/modules/vore/fluffstuff/custom_clothes_vr.dm
  icons/mob/uniform_rolled_down.dmi
  icons/mob/uniform_rolled_down_ch.dmi
  vorestation.dme
Labels: Icon Edit

#241 Gauss projectile icon fix
  code/modules/projectiles/projectile/energy_yw.dm
  icons/obj/projectiles_yw.dmi
Labels: DO NOT MERGE
