Repository CHOMPStation2/CHOMPStation2, pull requests merged in 2022-12, with the labels that each got.

#5314 New mob variants and cyber horror AI tweaks and sounds
  code/modules/mob/living/simple_mob/subtypes/mechanical/cyber_horror_ch.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/horror/Master.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/mechanical/disbot.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/mechanical/drones/combat_drone.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/mechanical/mecha/gygax.dm
  modular_chomp/sound/mob/robots/Cyber_Horror.ogg
  modular_chomp/sound/mob/robots/Cyber_Horror_Cat.ogg
  modular_chomp/sound/mob/robots/Cyber_Horror_Changeling.ogg
  modular_chomp/sound/mob/robots/Cyber_Horror_ChangelingLeap.ogg
  modular_chomp/sound/mob/robots/Cyber_Horror_ChangelingMelee.ogg
  modular_chomp/sound/mob/robots/Cyber_Horror_Corgi.ogg
  modular_chomp/sound/mob/robots/Cyber_Horror_Grey.ogg
  modular_chomp/sound/mob/robots/Cyber_Horror_Plasma.ogg
  modular_chomp/sound/mob/robots/Cyber_Horror_Tajaran.ogg
  modular_chomp/sound/mob/robots/Cyber_Horror_Vox.ogg
  modular_chomp/sound/mob/robots/DroneFreeze.ogg
  modular_chomp/sound/mob/robots/DroneFreezeLong.ogg
  modular_chomp/sound/mob/robots/DroneLostTarget.ogg
  modular_chomp/sound/mob/robots/GygaxDanger.ogg
  modular_chomp/sound/mob/robots/GygaxIntruder4.ogg
  modular_chomp/sound/mob/robots/MasterSee.ogg
  modular_chomp/sound/mob/robots/infector.ogg
  modular_chomp/sound/weapons/SmallLaser.ogg
  modular_chomp/sound/weapons/meleetear.ogg
  modular_chomp/sound/weapons/plasmaNEW.ogg
  vorestation.dme
Labels: Approved

#5361 Adds sound volume setting to vorebellies
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/bellymodes_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: TGUI Change

#5377 [Small Patch] OR Room 2 Wall Fix
  maps/southern_cross/southern_cross-2.dmm
Labels: Map Edit

#5472 turns ocean into actually ocean on southern cross 5 & 10
  maps/southern_cross/southern_cross-10.dmm
  maps/southern_cross/southern_cross-5.dmm
Labels: Map Edit
