Repository CHOMPStation2/CHOMPStation2, pull requests merged in 2022-05, with the labels that each got.

#4163 [MIRROR] Salvage+
  code/game/objects/structures/salvageable.dm
  icons/obj/salvageable.dmi
Labels: [MIRROR] Missing files

#4166 [MIRROR] Stonks!
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/modules/stockmarket/articles.dm
  code/modules/stockmarket/computer.dm
  code/modules/stockmarket/events.dm
  code/modules/stockmarket/industries.dm
  code/modules/stockmarket/logs.dm
  code/modules/stockmarket/stockmarket.dm
  code/modules/stockmarket/stocks.dm
  icons/obj/computer.dmi
  maps/groundbase/gb-z2.dmm
  maps/stellardelight/stellar_delight2.dmm
  maps/tether/tether-05-station1.dmm
  maps/virgo_minitest/virgo_minitest-1.dmm
  tgui/packages/tgui/interfaces/StockExchange.js
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: [MIRROR] Missing files

#4199 [MIRROR] Communicator Ringtones
  code/game/objects/items/devices/communicator/UI_tgui.dm
  code/game/objects/items/devices/communicator/communicator.dm
  code/game/objects/items/devices/communicator/messaging.dm
  tgui/packages/tgui/interfaces/Communicator.js
  tgui/packages/tgui/interfaces/pda/pda_messenger.js
  tgui/public/tgui.bundle.js
Labels: TGUI Change

#3064 Update Ambient Sounds 3.0
  code/__defines/misc.dm
  code/__defines/sound.dm
  code/datums/looping_sounds/_looping_sound.dm
  code/datums/looping_sounds/environment_sounds.dm
  code/datums/looping_sounds/weather_sounds.dm
  code/game/gamemodes/cult/narsie.dm
  code/game/gamemodes/cult/runes.dm
  code/game/turfs/simulated/lava.dm
  code/game/turfs/simulated/water.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/planet/sif.dm
  sound/ambience/desert/desertnight1.ogg
  sound/ambience/desert/desertnight2.ogg
  sound/ambience/desert/desertnight3.ogg
  sound/ambience/desert/desertnight4.ogg
  sound/ambience/snow_and_ice/Snowbirds_loop1.ogg
  sound/ambience/snow_and_ice/Snowbirds_loop2.ogg
  sound/ambience/snow_and_ice/Snowbirds_loop3.ogg
  sound/ambience/snow_and_ice/Snowbirds_loop4.ogg
  sound/ambience/underground/underground_synthrumble1.ogg
  sound/ambience/underground/underground_synthrumble2.ogg
  sound/ambience/underground/underground_synthrumble3.ogg
  sound/effects/lava/lava_mid1.ogg
  sound/effects/lava/lava_mid2.ogg
  sound/effects/lava/lava_mid3.ogg
  sound/effects/lava/lava_mid4.ogg
  sound/effects/lava/lava_mid5.ogg
  sound/effects/weather/old_wind/wind_2_1.ogg
  sound/effects/weather/old_wind/wind_2_2.ogg
  sound/effects/weather/old_wind/wind_3_1.ogg
  sound/effects/weather/old_wind/wind_4_1.ogg
  sound/effects/weather/old_wind/wind_4_2.ogg
  sound/effects/weather/old_wind/wind_5_1.ogg
  sound/effects/weather/rain/end_rain.ogg
  sound/effects/weather/rain/rain_loop.ogg
  sound/effects/weather/rain/rain_new_1.ogg
  sound/effects/weather/rain/rain_new_2.ogg
  sound/effects/weather/rain/start_rain.ogg
  sound/effects/weather/snowstorm/snowstorm_interior_loop.ogg
  sound/effects/weather/snowstorm/snowstorm_loop.ogg
  sound/effects/weather/snowstorm/snowstorm_start.ogg
  sound/effects/weather/storm/new storm.ogg
  sound/effects/weather/storm/storm_end1.ogg
  sound/effects/weather/storm/storm_end2.ogg
  sound/effects/weather/storm/storm_loop.ogg
  sound/effects/weather/storm/storm_loop2.ogg
  sound/effects/weather/storm/storm_start1.ogg
  sound/effects/weather/storm/storm_start2.ogg
  sound/effects/weather/water_loop.ogg
  sound/effects/weather/wind/wind_end.ogg
  sound/effects/weather/wind/wind_loop.ogg
  sound/effects/weather/wind/wind_loop1.ogg
  sound/effects/weather/wind/wind_loop2.ogg
  sound/effects/weather/wind/wind_loop3.ogg
  sound/effects/weather/wind/wind_start.ogg
  vorestation.dme
Labels: WIP, draft

#4260 [MIRROR] (Stocks) UI Migration & Bugfix
  code/modules/stockmarket/computer.dm
  tgui/packages/tgui/interfaces/StockExchange.js
  tgui/public/tgui.bundle.js
  tgui/public/tgui.html
Labels: TGUI Change

#4288 [MIRROR] TGUI Dependencies Update
  _build_dependencies.sh
  tgui/.eslintrc.yml
  tgui/.yarn/releases/yarn-2.4.1.cjs
  tgui/.yarn/releases/yarn-3.2.1.cjs
  tgui/.yarnrc.yml
  tgui/README.md
  tgui/package.json
  tgui/packages/tgfont/package.json
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui-panel/styles/components/Chat.scss
  tgui/packages/tgui-panel/styles/components/Ping.scss
  tgui/packages/tgui-panel/styles/main.scss
  tgui/packages/tgui-polyfill/package.json
  tgui/packages/tgui/package.json
  tgui/packages/tgui/styles/base.scss
  tgui/packages/tgui/styles/components/Tabs.scss
  tgui/packages/tgui/styles/functions.scss
  tgui/public/tgui-common.bundle.js
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: TGUI Change

#4275 Add a general engineering console to the reactor control room
  maps/southern_cross/southern_cross-2.dmm
Labels: Map Edit

#4297 Engineering QoL
  maps/southern_cross/southern_cross-2.dmm
Labels: Map Edit
