Repository CHOMPStation2/CHOMPStation2, pull requests merged in 2022-09, with the labels that each got.

#4819 Widlerness performance fix
  maps/southern_cross/southern_cross-10.dmm
  maps/southern_cross/southern_cross-12.dmm
  maps/southern_cross/southern_cross-6.dmm
Labels: Map Edit

#4818 POI - Abandoned Lab
  maps/submaps/surface_submaps/wilderness/AbandonedLab.dmm
  maps/submaps/surface_submaps/wilderness/wilderness.dm
  maps/submaps/surface_submaps/wilderness/wilderness_areas.dm
Labels: Low Priority, Approved, Map Edit

#4853 SurvivalPod Maps.
  modular_chomp/maps/submaps/shelters/CrashedInfestedShip-60x29.dmm
  modular_chomp/maps/submaps/shelters/CrashedQurantineShip-25x25.dmm
  modular_chomp/maps/submaps/shelters/CultShip-28x17.dmm
  modular_chomp/maps/submaps/shelters/DemonPool-21x21.dmm
  modular_chomp/maps/submaps/shelters/Dinner-25x25.dmm
  modular_chomp/maps/submaps/shelters/ExplorerHome-17x20.dmm
  modular_chomp/maps/submaps/shelters/Farm-32x32.dmm
  modular_chomp/maps/submaps/shelters/FieldLab-20x20.dmm
  modular_chomp/maps/submaps/shelters/HellCave-40x25.dmm
  modular_chomp/maps/submaps/shelters/HydroCave-40x40.dmm
  modular_chomp/maps/submaps/shelters/LargeAlienShip-60x29.dmm
  modular_chomp/maps/submaps/shelters/LoneHome-20x25.dmm
  modular_chomp/maps/submaps/shelters/MechFabShip-27x24.dmm
  modular_chomp/maps/submaps/shelters/MechStorageFab-32x24.dmm
  modular_chomp/maps/submaps/shelters/MercShip-60x29.dmm
  modular_chomp/maps/submaps/shelters/MethLab-20x20.dmm
  modular_chomp/maps/submaps/shelters/OldHotel-25x25.dmm
  modular_chomp/maps/submaps/shelters/ScienceShip-25x33.dmm
  modular_chomp/maps/submaps/shelters/SmallCombatShip-9x11.dmm
  modular_chomp/maps/submaps/shelters/SurvivalBarracks-11x11.dmm
  modular_chomp/maps/submaps/shelters/SurvivalCargo-11x11.dmm
  modular_chomp/maps/submaps/shelters/SurvivalDIY-11x11.dmm
  modular_chomp/maps/submaps/shelters/SurvivalDIY-7x7.dmm
  modular_chomp/maps/submaps/shelters/SurvivalDIY-9x9.dmm
  modular_chomp/maps/submaps/shelters/SurvivalDinner-11x11.dmm
  modular_chomp/maps/submaps/shelters/SurvivalEngineering-9x9.dmm
  modular_chomp/maps/submaps/shelters/SurvivalHome-9x9.dmm
  modular_chomp/maps/submaps/shelters/SurvivalHydro-9x9.dmm
  modular_chomp/maps/submaps/shelters/SurvivalJanitor-7x7.dmm
  modular_chomp/maps/submaps/shelters/SurvivalLeisure-9x9.dmm
  modular_chomp/maps/submaps/shelters/SurvivalLuxuryBar-11x11.dmm
  modular_chomp/maps/submaps/shelters/SurvivalLuxuryHome-11x11.dmm
  modular_chomp/maps/submaps/shelters/SurvivalMedical-9x9.dmm
  modular_chomp/maps/submaps/shelters/SurvivalPool-11x11.dmm
  modular_chomp/maps/submaps/shelters/SurvivalQuarters-9x9.dmm
  modular_chomp/maps/submaps/shelters/SurvivalScience-9x9.dmm
  modular_chomp/maps/submaps/shelters/SurvivalSecurity-9x9.dmm
  modular_chomp/maps/submaps/shelters/TinyCombatShip-9x7.dmm
  modular_chomp/maps/submaps/shelters/TradingShip-40x22.dmm
  modular_chomp/maps/submaps/shelters/WoodenCamp-10x10.dmm
Labels: Help Wanted, Low Priority, WIP, Map Edit

#4916 Cosmetic changes to Cargo lobby
  maps/southern_cross/southern_cross-2.dmm
Labels: Approved, Map Edit

#4912 [MIRROR] Fixes taur skirts part 2
  icons/mob/taursuits_horse_vr.dmi
Labels: [MIRROR] Missing files

#4849 [MIRROR] Adds colorable stomachs
  code/modules/asset_cache/asset_list_items.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/vore/eating/belly_obj_ch.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_ch.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/mob/screen_full_colorized_vore.dmi
  icons/mob/screen_full_vore.dmi
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: TGUI Change

#4952 [MIRROR] Fixes Communicator Threads
  tgui/packages/tgui/interfaces/Communicator.tsx
Labels: TGUI Change

#4962 [MIRROR] Fixes runtime with cryopods
  code/__defines/nifsoft.dm
  code/_onclick/hud/popups_vr.dm
  code/game/machinery/cryopod.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items/falling_object_attack_vr.dm
  code/game/objects/items/falling_object_vr.dm
  code/modules/mob/dead/observer/free_vr.dm
  code/modules/mob/living/simple_mob/subtypes/occult/unknown.dm
  code/modules/nifsoft/nif.dm
  code/modules/nifsoft/nifsoft.dm
  code/modules/nifsoft/software/15_misc.dm
  icons/effects/effects.dmi
  icons/effects/random_stuff_vr.dmi
  icons/mob/screen1_popups.dmi
  icons/mob/unknown_boss.dmi
  icons/mob/vore32x64.dmi
  icons/obj/projectiles.dmi
  vorestation.dme
Labels: [MIRROR] Missing files

#4868 [MIRROR] Adds in Throw Vore
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/mouseray.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: TGUI Change
