Repository CHOMPStation2/CHOMPStation2, pull requests merged in 2022-07, with the labels that each got.

#4459 [MIRROR] Makes all things that check for dorms check for forbid events var
  code/_helpers/unsorted_vr.dm
  code/game/area/Space Station 13 areas.dm
  code/game/area/Space Station 13 areas_ch.dm
  code/modules/events/grubinfestation_vr.dm
  code/modules/events/spider_infestation.dm
  code/modules/power/singularity/singularity.dm
  code/modules/xenoarcheaology/effect.dm
  maps/groundbase/groundbase_areas.dm
  maps/southern_cross/southern_cross_areas.dm
  maps/stellardelight/stellar_delight_areas.dm
Labels: Approved

#4452 [MIRROR] Moved Weight/Nutrition Prefs
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/VorePanel.js
  tgui/public/tgui.bundle.js
Labels: TGUI Change

#4458 [MIRROR] Reduces lag on tooltips (by alot)
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/packages/tgui/styles/components/Tooltip.scss
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: TGUI Change

#4480 [MIRROR] GitHub Workflows
  .github/ISSUE_TEMPLATE/map_report.md
  tgui/packages/tgui/interfaces/NtosRevelation.tsx
  tgui/public/tgui.bundle.js
  tools/ci/build_tgui.sh
Labels: TGUI Change, [MIRROR] Missing files

#4493 [MIRROR] Communicator Reply Messages
  code/game/objects/items/devices/communicator/UI_tgui.dm
  code/game/objects/items/devices/communicator/messaging.dm
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/interfaces/Communicator.tsx
  tgui/packages/tgui/interfaces/CrewManifest.tsx
  tgui/packages/tgui/interfaces/IdentificationComputer.js
  tgui/public/tgui.bundle.js
Labels: TGUI Change, [MIRROR] Missing files

#4596 Fixes invis mercs
  code/modules/mob/living/simple_mob/subtypes/humanoid/mercs/mercs.dm
Labels: Approved
