Repository CHOMPStation2/CHOMPStation2, pull requests merged in 2023-11, with the labels that each got.

#7195 Atmos Issues Fix
  maps/southern_cross/southern_cross-1.dmm
  maps/southern_cross/southern_cross-3.dmm
  maps/southern_cross/southern_cross-5.dmm
Labels: Map Edit

#7193 Adds http_request datum
  code/__defines/rust_g.dm
  modular_chomp/code/datums/http.dm
  vorestation.dme
Labels: Feature / Enhancement

#7219 Spoilers
  maps/southern_cross/submaps/gateway/maddnesslab.dmm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/vore/gateway/candy.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/vore/smokestar.dm
  modular_chomp/code/modules/planet/smokestar/turf.dm
  modular_chomp/icons/mob/smokestar.dmi
  modular_chomp/icons/obj/strangeflora.dmi
  modular_chomp/icons/turf/falseplanets.dmi
  modular_chomp/icons/turf/falseplanets_edge.dmi
  vorestation.dme
Labels: Map Edit, Icon Edit

#7212 Dogborg fixes
  code/modules/mob/living/silicon/robot/robot_modules/Widerobot_Clown_ch.dm
  code/modules/mob/living/silicon/robot/robot_modules/Widerobot_Command_ch.dm
  code/modules/mob/living/silicon/robot/robot_modules/Widerobot_Exploration_ch.dm
  code/modules/mob/living/silicon/robot/robot_modules/Widerobot_Standard_ch.dm
  code/modules/mob/living/silicon/robot/sprites/_sprite_datum.dm
  icons/mob/dogborg_vr.dmi
  modular_chomp/code/modules/mob/living/silicon/robot/sprites/civilian.dm
  modular_chomp/code/modules/mob/living/silicon/robot/sprites/clown.dm
  modular_chomp/code/modules/mob/living/silicon/robot/sprites/combat.dm
  modular_chomp/code/modules/mob/living/silicon/robot/sprites/command.dm
  modular_chomp/code/modules/mob/living/silicon/robot/sprites/engineering.dm
  modular_chomp/code/modules/mob/living/silicon/robot/sprites/exploration.dm
  modular_chomp/code/modules/mob/living/silicon/robot/sprites/janitor.dm
  modular_chomp/code/modules/mob/living/silicon/robot/sprites/medical.dm
  modular_chomp/code/modules/mob/living/silicon/robot/sprites/mining.dm
  modular_chomp/code/modules/mob/living/silicon/robot/sprites/science.dm
  modular_chomp/code/modules/mob/living/silicon/robot/sprites/security.dm
  modular_chomp/icons/mob/catborg/catborg.dmi
  modular_chomp/icons/mob/raptorborg/raptor.dmi
  modular_chomp/icons/mob/raptorborg/raptor_ch.dmi
  modular_chomp/icons/mob/tallborg/tallrobots-wide.dmi
  modular_chomp/icons/mob/tallborg/tallrobots.dmi
  modular_chomp/icons/mob/widerobot_car_ch.dmi
  modular_chomp/icons/mob/widerobot_ch.dmi
  modular_chomp/icons/mob/widerobot_colors_ch.dmi
  modular_chomp/icons/mob/widerobot_exp_ch.dmi
  modular_chomp/icons/mob/wormborg.dmi
  vorestation.dme
Labels: Type: Feature / Enhancement, Icon Edit
