Repository CHOMPStation2/CHOMPStation2, pull requests merged in 2023-09, with the labels that each got.

#6918 Fix shiny modular clothes and adds a bunch of fun items to hidden crate on deck 2
  code/modules/clothing/head/misc_vr.dm
  icons/mob/modular_shiny_vr.dmi
  icons/obj/clothing/modular_shiny_vr.dmi
  maps/southern_cross/southern_cross-2.dmm
Labels: Map Edit

#6937 [MIRROR] More Smartvendor Buttons
  tgui/packages/tgui/interfaces/SmartVend.js
  tgui/packages/tgui_ch/interfaces/SmartVend.js
  tgui/public/tgui.bundle.js
Labels: TGUI Change

#6968 [MIRROR] Support button
  code/controllers/configuration.dm
  interface/interface.dm
  interface/skin.dmf
Labels: Needs Discussion

#6910 Combat Refactor
  code/modules/mob/living/simple_mob/subtypes/mechanical/hivebot/hivebot.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/animal/mines.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/animal/sif.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/animal/space/alien.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/animal/space/mouse_army_ch.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/animal/space/other.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/animal/spider.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/gateway/imperion.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/gateway/vistors.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/gateway/wizards.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/humanoid/cultboss.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/humanoid/cultist_ch.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/humanoid/eclipse/eclipse.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/humanoid/mercenary.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/humanoid/pirate.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/humanoid/wierd.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/mechanical/cyber_horror.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/mechanical/drones/combat_drone.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/mechanical/hivebot/boss.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/mechanical/hivebot/precusor_hivebots.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/mechanical/mecha/combat.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/mechanical/mecha/phazon.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/meteroid/meteroid.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/occult/constructs/construct.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/occult/constructs/juggernaut.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/occult/other.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/slimess/feral.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/vore/bigdragon.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/vore/demon.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/vore/event.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/vore/gateway/candy.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/vore/wolf.dm
  modular_chomp/code/modules/projectiles/clockwork/clockwork_guns_ch.dm
  modular_chomp/code/modules/projectiles/guns/ammo.dm
  modular_chomp/code/modules/projectiles/guns/beam.dm
  modular_chomp/code/modules/projectiles/guns/bullet.dm
  modular_chomp/code/modules/projectiles/guns/energy.dm
  modular_chomp/code/modules/projectiles/guns/magnetic.dm
  modular_chomp/code/modules/projectiles/mob.dm
  vorestation.dme
Labels: TEST MERGED
