Repository CHOMPStation2/CHOMPStation2, pull requests merged in 2023-02, with the labels that each got.

#5666 [MIRROR] Fixes #14173, other modular computer file manager improvements
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  tgui/packages/tgui/interfaces/NtosFileManager.js
  tgui/public/tgui.bundle.js
Labels: TGUI Change

#5574 Making clothing protect against water like it should.
  code/modules/artifice/telecube.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/under/miscellaneous_ch.dm
  code/modules/projectiles/projectile/energy.dm
  modular_chomp/code/modules/clothing/spacesuits/rig/rig.dm
Labels: TEST MERGED

#5711 NS Mines egg
  maps/southern_cross/overmap/planets/kara/northern_star/northern_star_mine.dmm
Labels: Map Edit

#4811 Desert tiles, walls, cliffs, plants, mobs.
  code/game/turfs/flooring/flooring_decals_ch.dm
  code/game/turfs/flooring/flooring_decals_yw.dm
  modular_chomp/code/game/objects/structures/desert_planet_structures.dm
  modular_chomp/code/game/turfs/simulated/outdoors/desert_planet.dm
  modular_chomp/code/modules/mob/living/simple_mob/subtypes/vore/desert_planet_mobs.dm
  modular_chomp/icons/obj/desert_planet/desert_planet_160x160.dmi
  modular_chomp/icons/obj/desert_planet/desert_plants.dmi
  modular_chomp/icons/obj/desert_planet/desert_props_64x64.dmi
  modular_chomp/icons/obj/desert_planet/desert_rocks.dmi
  modular_chomp/icons/turf/desert_planet.dmi
  modular_chomp/icons/turf/desert_tiles.dmi
  modular_chomp/icons/turf/outdoors_edge.dmi
  vorestation.dme
Labels: Help Wanted, Medium Priority, DO NOT MERGE, Map Edit, Icon Edit, draft

#5748 [MIRROR] Voxxy clothing
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/clothing_vr.dm
  code/modules/clothing/glasses/glasses_vr.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/station/station_vr.dm
  code/modules/mob/new_player/sprite_accessories.dm
  code/modules/mob/new_player/sprite_accessories_extra.dm
  code/modules/mob/new_player/sprite_accessories_extra_vr.dm
  icons/inventory/eyes/mob_vox.dmi
  icons/inventory/suit/mob_vox.dmi
  icons/mob/human_races/markings_vox.dmi
  icons/mob/human_races/markings_vr.dmi
  icons/mob/human_races/r_vox_old.dmi
Labels: Approved, [MIRROR] Missing files

#5738 makes tails/wings show underneath bodyparts (makes more difference on digitigrades)
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  modular_chomp/code/modules/mob/living/carbon/human/update_icons.dm
Labels: TEST MERGED

#5727 stops radios from dropping out every second message
  code/_helpers/game.dm
  code/game/atoms_movable_ch.dm
  code/game/turfs/turf_ch.dm
  code/modules/mob/login_ch.dm
  code/modules/mob/logout.dm
  code/modules/vore/eating/belly_obj_vr.dm
  modular_chomp/code/game/objects/structures/watercloset_ch.dm
  vorestation.dme
Labels: TEST MERGED

#5774 Additional SuperPose Maps and fixes.
  modular_chomp/code/modules/mining/shelter_atoms_ch.dm
  modular_chomp/code/modules/mining/shelters_ch.dm
  modular_chomp/maps/submaps/shelters/BrodcastingPod-11x9.dmm
  modular_chomp/maps/submaps/shelters/DemonPoolV2-43x28.dmm
  modular_chomp/maps/submaps/shelters/HillOutpost-15x11.dmm
  modular_chomp/maps/submaps/shelters/LargeAlienShip-57x25.dmm
  modular_chomp/maps/submaps/shelters/PirateShip-13x30.dmm
  modular_chomp/maps/submaps/shelters/SurvivalHomeV2-9x9.dmm
  modular_chomp/maps/submaps/shelters/SurvivalMechFab-9x9.dmm
  modular_chomp/maps/submaps/shelters/SurvivalMethLab-9x10.dmm
  modular_chomp/maps/submaps/shelters/SurvivalScience2-9x9.dmm
  modular_chomp/maps/submaps/shelters/SurvivalSecurity2-9x9.dmm
  modular_chomp/maps/submaps/shelters/TradingShip-40x22.dmm
Labels: Map Edit
