Repository CHOMPStation2/CHOMPStation2, pull requests merged in 2023-06, with the labels that each got.

#6262 [MIRROR] Adds new human ability: "Explain Custom Traits"
  code/modules/mob/living/carbon/human/species/station/traits_vr/neutral.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/trait.dm
  code/modules/mob/living/carbon/human/species/station/traits_vr/traits_tutorial.dm
  code/modules/tgui/modules/trait_tutorial_tgui.dm
  tgui/packages/tgui/interfaces/TraitTutorial.tsx
  tgui/packages/tgui_ch/interfaces/TraitTutorial.tsx
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  vorestation.dme
Labels: TGUI Change

#6269 [MIRROR] Adds scrollbar to medical and employment records computers
  tgui/packages/tgui/interfaces/GeneralRecords.js
  tgui/packages/tgui/interfaces/MedicalRecords.js
  tgui/packages/tgui_ch/interfaces/GeneralRecords.js
  tgui/packages/tgui_ch/interfaces/MedicalRecords.js
  tgui/public/tgui.bundle.js
Labels: TGUI Change

#6314 [MIRROR] Fixes #14956
  code/game/objects/items/weapons/storage/belt_vr.dm
  code/modules/hydroponics/trays/tray_tools.dm
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
Labels: [MIRROR] Missing files

#6331 [MIRROR] Variety Add-on Patch
  code/modules/mob/new_player/sprite_accessories_ear_vr.dm
  icons/mob/vore/ears_vr.dmi
Labels: [MIRROR] Missing files

#6283 [MIRROR] TGUI Update Hotfix
  code/modules/tgui/tgui.dm
  code/modules/tgui/tgui_window.dm
  tgui/packages/tgui/interfaces/CameraConsole.js
Labels: DO NOT MERGE, TGUI Change

#6291 [MIRROR] TGUI Input Checkboxes
  code/modules/tgui_input/checkboxes.dm
  tgui/packages/tgui/interfaces/CheckboxInput.tsx
  tgui/packages/tgui/interfaces/common/InputButtons.tsx
  vorestation.dme
Labels: DO NOT MERGE, TGUI Change

#6319 [MIRROR] TGUI Interface Hotfix
  code/__defines/time.dm
  code/_global_vars/time_vars.dm
  code/_helpers/time.dm
  code/controllers/subsystems/tgui.dm
  tgui/packages/tgui/interfaces/Biogenerator.js
  tgui/packages/tgui/interfaces/CasinoPrizeDispenserCh.js
  tgui/packages/tgui/interfaces/ChemDispenser.js
  tgui/packages/tgui/interfaces/MedicalRecords.js
  tgui/packages/tgui/interfaces/MiningVendor.js
  tgui/packages/tgui/interfaces/NtosCameraConsole.js
  tgui/packages/tgui/interfaces/NtosCameraConsole.tsx
  tgui/packages/tgui/interfaces/SecurityRecords.js
  tgui/packages/tgui/interfaces/SuitCycler.js
  tgui/packages/tgui/styles/components/Button.scss
  tgui/packages/tgui/styles/components/LabeledList.scss
  vorestation.dme
Labels: DO NOT MERGE, TGUI Change

#6340 [MIRROR] tgui no yell
  code/modules/eventkit/gm_interfaces/mob_spawner.dm
  tgui/packages/tgui/interfaces/MobSpawner.tsx
Labels: DO NOT MERGE, TGUI Change

#6344 [MIRROR] TraitTutorial: Fixes spacing issues from TGUI update
  tgui/packages/tgui/interfaces/TraitTutorial.tsx
Labels: DO NOT MERGE, TGUI Change

#6370 [MIRROR] HOTFIX: Fixes TGUI number input to accept decimals
  tgui/packages/tgui/interfaces/NumberInputModal.tsx
Labels: DO NOT MERGE, TGUI Change

#6373 [MIRROR] Fix(TGUI): fixes PDA atmos scanner from showing gibberish
  code/modules/pda/core_apps.dm
Labels: DO NOT MERGE, TGUI Change

#6374 [MIRROR] Fixes Air alarms showing "none" for Nitrogen, introduces some consistency
  code/game/machinery/air_alarm.dm
  tgui/packages/tgui/constants.test.ts
  tgui/packages/tgui/constants.ts
Labels: DO NOT MERGE, TGUI Change

#6350 [MIRROR] Extends entity narrate functionality with TGUI
  code/modules/admin/verbs/entity_narrate.dm
  tgui/packages/tgui/interfaces/EntityNarrate.tsx
  tgui/packages/tgui_ch/interfaces/EntityNarrate.tsx
  tgui/public/tgui.bundle.js
Labels: TGUI Change

#6392 [MIRROR] Adds ability for multi-colored colorable belly overlays to exist, adds one using it
  code/modules/mob/living/carbon/human/life.dm
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  icons/mob/screen_full_colorized_vore.dmi
  icons/mob/screen_full_colorized_vore_overlays.dmi
  icons/mob/screen_full_vore.dmi
  tgui/packages/tgui/interfaces/VorePanel.js
Labels: TGUI Change

#5714 Energy Weapons Balance Pass.
  code/modules/mining/ore_redemption_machine/survey_vendor.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/laser_vr.dm
  code/modules/projectiles/guns/energy/phase.dm
  code/modules/projectiles/projectile/beams_ch.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/energy_ch.dm
  modular_chomp/code/modules/power/cells/device_cells.dm
  modular_chomp/code/modules/power/cells/power_cells.dm
  modular_chomp/code/modules/research/designs/power_cells.dm
  modular_chomp/code/modules/research/designs/weapons.dm
Labels: TEST MERGED
