Repository CHOMPStation2/CHOMPStation2, pull requests merged in 2024-06, with the labels that each got.

#8131 [MIRROR] Ports "No Shoes" from RogueStar
  code/datums/outfits/outfit.dm
  code/game/jobs/job_controller.dm
  code/modules/client/preference_setup/general/04_equipment.dm
  code/modules/client/preferences.dm
Labels: Upstream Issue

#8137 [MIRROR] No shoes: Teshari edition
  code/modules/mob/living/carbon/human/species/station/teshari.dm
Labels: Upstream Issue

#8447 Belly rub target
  code/modules/mob/living/simple_mob/subtypes/vore/vore.dm
  code/modules/vore/eating/living_ch.dm
  code/modules/vore/eating/living_vr.dm
  code/modules/vore/eating/mob_ch.dm
  code/modules/vore/eating/vore_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  code/modules/vore/mouseray.dm
  tgui/packages/tgui/interfaces/chompstation/VorePanel/VoreUserPreferences.jsx
Labels: TGUI Change

#8452 [MIRROR] admin jukeboxsong handling
  code/controllers/subsystems/media_tracks.dm
  code/game/machinery/jukebox.dm
  code/modules/vore/eating/vorepanel_vr.dm
  tgui/packages/tgui/interfaces/Jukebox.jsx
Labels: TGUI Change

#8476 [MIRROR] allow to only show suitable belly messages
  code/modules/vore/eating/belly_obj_vr.dm
  code/modules/vore/eating/exportpanel_vr.dm
  code/modules/vore/eating/vorepanel_vr.dm
  modular_chomp/code/modules/vore/eating/exportpanel_ch.dm
  tgui/packages/tgui/interfaces/VorePanel.jsx
  tgui/packages/tgui/interfaces/VorePanelExport.tsx
  tgui/packages/tgui/interfaces/chompstation/VorePanel/VoreSelectedBellyDescriptions.tsx
Labels: TGUI Change

#8171 The big ammo simplification
  code/datums/autolathe/arms.dm
  code/datums/autolathe/arms_ch.dm
  code/datums/autolathe/arms_vr.dm
  code/modules/projectiles/ammunition/zz_autolathe_ch.dm
  code/modules/projectiles/guns/projectile/automatic_ch.dm
  code/modules/projectiles/guns/projectile/zz_ballistics_ch.dm
  code/modules/projectiles/guns/projectile_ch.dm
  modular_chomp/code/datums/autolathe/arms.dm
  modular_chomp/code/modules/projectiles/ammo_refactor/_ammo_defines.dm
  modular_chomp/code/modules/projectiles/ammo_refactor/ammo_autolathe.dm
  modular_chomp/code/modules/projectiles/ammo_refactor/ammo_magazine_override.dm
  modular_chomp/code/modules/projectiles/ammo_refactor/ammo_magazines.dm
  modular_chomp/code/modules/projectiles/ammo_refactor/ammo_override_generator.dm
  modular_chomp/code/modules/projectiles/ammo_refactor/ammo_overrides.dm
  modular_chomp/code/modules/projectiles/ammo_refactor/ammo_types.dm
  modular_chomp/code/modules/projectiles/ammo_refactor/gun_overrides.dm
  vorestation.dme
Labels: TEST MERGED, TEST MERGE CANDIDATE
